.item {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 16px;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;

  .item-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;

    .check-item {
      // accent-color: var(--blue);
      // height: 100%;
      // margin-top: 3px;
      // cursor: pointer;

      -moz-appearance:none;
      -webkit-appearance:none;
      -o-appearance:none;
      outline: none;
      content: none;
    }

    .check-item:before {
      content: "✔";
      font-size: 15px;

      color: transparent !important;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 2px solid var(--blue);
    }

    .check-item:checked:before {
      background-color: var(--purple);
      border: 2px solid var(--purple);
      color: white !important;
    }
  }

  span {
    display: block;
    color: var(--gray-100);
    line-height: 19.6px;
    font-size: 14px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: var(--gray-300);

    transition: color 0.2s;

    &:hover {
      color: var(--danger);
    }
  }
}


.item.done {
  border: none;
  
  span {
    color: var(--gray-300);
    text-decoration-line: line-through;
  }
}