.listContent {
  width: 100%;
  overflow: auto;
  max-height: calc(100vh - 400px);

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--gray-100);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--gray-300);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
  }
}

.listBody {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 10px;
}
